# Pandas-loc的执行逻辑

**场景, 当传入的label不在index上.**

In [2]:
import pandas as pd

## 当索引是数字(整数类)

In [5]:
index_a =[10,11,15,17,19]

In [6]:
index_b = reversed(index_a)

In [7]:
data = [1, 2, 3, 4, 5]

In [8]:
# index, 顺序
a = pd.DataFrame(data = data, 
                 index = index_a,
                columns = ['A']
                )

In [9]:
# index, 逆序
b = pd.DataFrame(data = data, 
                 index = index_b,
                columns = ['A']
                )

In [10]:
a

    A
10  1
11  2
15  3
17  4
19  5

In [11]:
b

    A
19  1
17  2
15  3
11  4
10  5

In [13]:
a.loc[3:]

    A
10  1
11  2
15  3
17  4
19  5

In [22]:
a.loc[13:]

    A
15  3
17  4
19  5

In [28]:
a.loc[3:13]

    A
10  1
11  2

In [29]:
a.loc[3:9]

Empty DataFrame
Columns: [A]
Index: []

In [30]:
a.loc[:9]

Empty DataFrame
Columns: [A]
Index: []

In [31]:
a.loc[:13]

    A
10  1
11  2

In [32]:
a.loc[-1:]

    A
10  1
11  2
15  3
17  4
19  5

In [33]:
a.loc[:-1]

Empty DataFrame
Columns: [A]
Index: []

In [34]:
a.loc[0: 25]

    A
10  1
11  2
15  3
17  4
19  5

In [39]:
a.loc[12: 13]

Empty DataFrame
Columns: [A]
Index: []

In [14]:
b.loc[3:]

Empty DataFrame
Columns: [A]
Index: []

In [21]:
b.loc[13:]

    A
11  4
10  5

In [26]:
b.loc[13: 0]

    A
11  4
10  5

In [15]:
# index, 乱序
c = pd.DataFrame(data = data, 
                 index = [13, 15, 19, 17, 11],
                columns = ['A']
                )

In [16]:
c

    A
13  1
15  2
19  3
17  4
11  5

In [17]:
# 直接报错
c.loc[3:]

KeyError: 3

In [18]:
d = c.sort_index()

In [19]:
d

    A
11  5
13  1
15  2
17  4
19  3

In [20]:
d.loc[3:]

    A
11  5
13  1
15  2
17  4
19  3

### 初步结论


在label不存在于index时的情况


三种情况


1. 只传入起始参数
2. 只传入终点参数
3. 两个参数都传入


- 顺序
  1. 和第一个比较, 假如比第一个小, 返回全部内容
  2. 和第一个比较, 假如等于大于第一个, 在和后面的逐个比较, 将满足要求的全部取回.
  3. 优先比较终点参数, 假如终点参数比第一个小, 直接返回空, 假如满足要求, 则按照比较返回, 假如起始参数比第一个小, 
     则截至到第一个数, 假如比第一个数大, 则比较满足要求的数据返回
  
- 逆序, 逻辑是和顺序相反的方式操作的.

- 乱序, 直接error.

## 当索引为文本

In [51]:
s_index = ['f', 'g', 'h', 'i', 'j']

In [52]:
r_index= reversed(s_index)

In [53]:
s = pd.DataFrame(data=data, index=s_index, columns=['A'])

In [54]:
r = pd.DataFrame(data=data, index=r_index, columns=['A'])

In [55]:
s

   A
f  1
g  2
h  3
i  4
j  5

In [56]:
r

   A
j  1
i  2
h  3
g  4
f  5

In [57]:
s.loc['a':]

   A
f  1
g  2
h  3
i  4
j  5

In [58]:
r.loc['a':]

Empty DataFrame
Columns: [A]
Index: []

In [60]:
s.loc['a': 'i']

   A
f  1
g  2
h  3
i  4

In [62]:
r.loc['i': 'a']

   A
i  2
h  3
g  4
f  5

In [63]:
tmp = s.copy(True)

In [65]:
tmp.loc['k'] = 6

In [66]:
tmp

   A
f  1
g  2
h  3
i  4
j  5
k  6

In [67]:
tmp.index = ['af', 'bg', 'ch', 'di', 'ej', 'fk']

In [68]:
tmp.loc['a': ]

    A
af  1
bg  2
ch  3
di  4
ej  5
fk  6

In [88]:
tmp.loc['f':]

    A
fk  6

In [71]:
tmp.loc['dk':]

    A
ej  5
fk  6

In [73]:
temp = tmp.copy(True)

In [75]:
temp.index= ['f', 'm', 'h', 'i', 'j', 'n']

In [76]:
temp

   A
f  1
m  2
h  3
i  4
j  5
n  6

In [78]:
temp.loc['a':]

KeyError: 'a'

In [80]:
temp.sort_index().loc['l': ]

   A
m  2
n  6

In [81]:
x = temp.copy(True)

In [82]:
x.index = ['af', 'bz', 'ch', 'di', 'em', 'fk']

In [83]:
x

    A
af  1
bz  2
ch  3
di  4
em  5
fk  6

In [84]:
x.loc['a':]

    A
af  1
bz  2
ch  3
di  4
em  5
fk  6

In [86]:
x.loc['dk':]

    A
em  5
fk  6

### 结论

操作和数字index, 逻辑时一样的.


唯一的差异在于, 字符串只关注第一个字符, 第二个字符出现乱序并不触发错误.